<?xml version="1.0"?>
<launch>
    <param name="exo_description" command="xacro $(find teleop_exo_suit)/config/humanoid_arm.urdf" />
    <node name="exo_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <remap from="robot_description" to="exo_description"/>
        <remap from="joint_states" to="exo_joint_states" />
    </node>

    <node name="exo_suit" pkg="teleop_exo_suit" type="boardcast_robot_tf.py">
        <param name="name" type="str" value="exo"/>
        <remap from="joint_states" to="exo_joint_states" />
    </node>

    <rosparam command="load" file="$(find teleop_exo_suit)/config/exo_suit.yaml" />
    <node name="bringup_exo" pkg="teleop_exo_suit" type="read_amt21"/>
    <node name="motion_tracker" pkg="teleop_exo_suit" type="motion_tracking_sim.py" output='screen'/>

</launch>