<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="cat $(find teleop_exo_suit)/config/humanoid_arm.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="robot_tf_publisher" pkg="teleop_exo_suit" type="boardcast_robot_tf.py" output='screen'/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find teleop_exo_suit)/rviz/rviz_config.rviz" />
    <node name='jointstate_reconfig' pkg='rqt_reconfigure' type='rqt_reconfigure'/>

</launch>